@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --green-bg: #3B8526;
    color-scheme: dark;
    background-image: linear-gradient(#2d303a,#353946,#353946,#353946,#353946,#353a49,#363c53,#3a4964);
}

#dust {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.center-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.center-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: mcfive;
    font-display: swap;
    src: url("/fonts/minecraft/five.ttf");
}

@font-face {
    font-family: mcten;
    font-display: swap;
    src: url("/fonts/minecraft/ten.ttf");
}

@font-face {
    font-family: mcseven;
    font-display: swap;
    src: url("/fonts/minecraft/seven.ttf");
}

#link {
    opacity: 0;
    @apply toast;
    @apply hover:scale-105;
    @apply duration-75;
}

#link a {
    color: white;
    border-radius: 0px;
    border-style: none;
    font-family: mcseven;
    font-weight: 700;
    @apply tracking-wide;
    @apply center-row;
    @apply bg-green-bg;
    @apply grayscale;
    @apply gap-2;
}

.card.image-full:before {
    opacity: 0.4;
}

.highlight {
    box-shadow: 0px 4px 0px 0px #00000060;
}

.highlight::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    top: 0;
    background-color: #FFF;
    mix-blend-mode: overlay;
    opacity: 0.4;
}

#parent {
    @apply h-1/2;
    display: flex;
    flex-direction: column;
    @apply gap-3;
    @apply sm:gap-16;
    justify-content: center;
    align-items: center
}

@media only screen and (min-height: 700px) {
    #parent {
        @apply h-screen;
    }
}

#title {
    user-select: none;
    display: flex;
    flex-direction: column;
    @apply gap-1;
    @apply md:gap-3;
}

#title div {
    @apply mt-5;
    @apply gap-4;
    opacity: 0.5;
}

#title div img {
    @apply w-9;
    @apply rounded-md;
}

#title img {
    width: 40rem;
}

#illustratorTitle {
    @apply text-xl;
    @apply md:text-3xl;
    @apply mb-1;
    text-transform: uppercase;
    font-weight: 700;
    font-family: mcfive, sans-serif;
    @apply tracking-wide;
}

.font-card {
    @apply duration-150;
    @apply w-40;
    @apply md:w-52;
}

.font-card:hover {
    @apply scale-105;
}

.font-card-title {
    font-weight: 700;
    font-family: mcseven;
    @apply md:text-xl;
    user-select: none;
    @apply text-gray-200;
}

.font-selected {
    outline: 4px solid var(--green-bg);
}

.font {
    padding: 5px 10px 10px;
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 5px 0px black;
    @apply duration-150;
}

.font:hover {
    outline: 4px solid white;
}

.grid-size {
    color: white;
    @apply duration-75;
    @apply p-2;
    text-align: center;
    width: 70px;
    height: 50px;
    text-shadow: 0 5px 0 #00000080;
}

.size-selected {
    outline: 4px solid white;;
}

.disabled {
    pointer-events: none;
    opacity: 50%;
}

.currentFontDisplay {
    color: white;
    @apply bg-red-500;
    @apply p-4;
    font-family: mcfive;
    font-weight: 700;
}

.currentFontDisplay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    border-right: 30px solid transparent;
    @apply border-b-[56px];
    @apply border-b-red-500;
    @apply highlight;
}

.buttonTextShadow {
    text-shadow: 0 3px 0px #00000070;
    box-shadow: 0 3px 0px #00000070;
}


.credits {
    @apply mb-10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.credits h1 {
    text-align: center;
    font-family: mcfive;
    font-weight: bold;
    text-shadow: 0 5px 0 black;
    @apply text-2xl;
    @apply mb-2;
}

.credits a {
    text-align: center;
    font-family: mcseven;
    font-weight: bold;
    @apply hover:underline;
    @apply text-xl;
}

.credits p {
    text-align: center;
    font-family: mcseven;
    color: gray;
    font-style: italic;
    @apply text-xl;
}